<ul>
<% @bookmarks.each do |hash| %>
  <li>
    <a href="<%= hash[:url] %>"><%= hash[:title] %></a>
  </li>
<% end %>
</ul>
<form action="/manager">
  <button type="submit">Add a bookmark</button>
</form>
